/* custom_styles.css */

/* custom_styles.css */

/* Style for the sidebar */
.sidebar {
    padding: 20px;
    background-color: #466ccc; /* Light grey background */
    border-radius: 5px; /* Rounded corners for the sidebar */
    margin-bottom: 100px; /* Space at the bottom of the sidebar */
}


/* Style for the titles above the dropdowns */
.dropdown-title {
    margin-bottom: 0.5rem; /* Space below the title */
    color: #333; /* Dark grey text for better readability */
    font-weight: bold; /* Make the title text bold */
}

/* Style for the dropdown components to give them consistent appearance */
.custom-dropdown {
    margin-bottom: 1rem; /* Space below the dropdown */
}

.card-common {
    margin-top: 20px;
    border-radius: 15px;
    color: white;
    padding: 20px;
}

.card-min-price {
    background-color: #7978E9; 
    margin-right: 10px;
}

.card-avg-price {
    background-color: #5b5aae; 
}

.card-max-price {
    background-color: #7DA0FA; 
}

.card-number {
    font-size: 48px; 
}

.card-text {
    font-size: 24px; 
}
