/* custom_styles.css */

/* custom_styles.css */

/* Style for the sidebar */
.sidebar {
    margin-top: 20px;
    padding: 20px;
    background-color: #7DA0FA; /* Light grey background */
    border-radius: 15px; /* Rounded corners for the sidebar */
    margin-bottom: 100px; /* Space at the bottom of the sidebar */
}

.text-muted {
    /* font-size: 18px; */ 
    text-align: justify;
}

.sidebar-footer {
    font-size: 20px;
}


/* Style for the titles above the dropdowns */
.dropdown-title {
    margin-bottom: 0.5rem; /* Space below the title */
    color: #333; /* Dark grey text for better readability */
    font-weight: bold; /* Make the title text bold */
}

/* Style for the dropdown components to give them consistent appearance */
.custom-dropdown {
    margin-bottom: 1rem; /* Space below the dropdown */
}

.card-min-price {
    margin-top: 20px;
    border-radius: 15px;
    color: white;
    padding: 20px;
    background-color: #9896df; 
    margin-right: 10px;
}

.card-avg-price{
    margin-top: 20px;
    border-radius: 15px;
    color: white;
    padding: 20px;
    background-color: #7c7bd4; 
}

.card-max-price {
    margin-top: 20px;
    border-radius: 15px;
    color: white;
    padding: 20px;
    background-color: #87a3eb; 
}

.card-number {
    font-size: 48px; 
}

.card-text {
    font-size: 28px; 
    border-style: none;
}


